__pycache__/
*.py[cod]

*~
*-
*.swp
*.save
.DS_Store

/env
/build
/dist
/*.egg-info

/.aider*
/.pytest_cache
/.ruff_cache

/.coverage
/htmlcov

/site

/testing/datasets
/testing/extractions
/testing/output
/testing/plots
/testing/protocol
/testing/share
